.item {
  animation: showItem 0.5s linear;
  color: #333;
}

.itemImg {
  width: 100%;
  display: block;
  max-height: 100%;
  object-fit: cover;
}

.itemName {
  font-size: 15px;
  color: grey;
}
.itemPrice {
  font-size: 18px;
  font-weight: bold;
}

@keyframes showItem {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
