.itemsHeading {
  text-align: center;
  padding-top: 75px;
}

.itemsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
  column-gap: 15px;
}

@media (max-width: 992px) {
  .itemsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .itemsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
